@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #6a8cff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.input-form {
  @apply w-full py-4 px-5 bg-[#FDFDFD]  rounded-lg text-[#6D6B83] border border-[#2353F51A] outline-none;
}